*{
    background-color: #3AAFA9;
    margin: 0;
    padding: 0;
    font-family: "Trirong", serif;
    letter-spacing: 1px;
    color: white;
}

/* --------------- GENERAL ----------------- */

.btn{
    background-color: #17252A;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 150%;
    height: 40px;
    font-size: calc(0.1vw + 3.2vmin);
    height: calc(1.2vw  + 4.7vmin);
}


.bg{
    height: 700px;
    width: 99%;
    background-color: #222233;
    margin: auto;
}
input::placeholder{
    margin: auto;
    color: black;
    font-weight: 900;
}

.flash{
    background-color: transparent;
    align-items: center;    
}

/* ------------------------------------------ */

/* --------------- HEADER & FOOTER ---------------- */

.header{
    width: 99%;
    height: calc(1vw + 3vh + 6vmin);
    background-color: #2B7A78;
    margin: 7px auto ;
    display: flex;
    flex-direction: row;
}

.header form{
    background-color: transparent;
    margin: auto auto auto 10px;
    border-radius: 30px;
}

.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: transparent;
    font-size: calc(2vw + 2vmin);
    letter-spacing: 5px;
    -webkit-text-stroke-width: 1px;
    color: 3AAFA9;
    -webkit-text-stroke-color: white;
}


.footer{
    width: 99%;
    height: 160px;
    background-color: rgb(0, 102, 111);
    margin: 7px auto;
    display: flex;
    align-items: end;
    justify-content: center;
}


/* ------------------------------------------------ */


/* --------------- COMMON HOME ----------------- */

/* ---------- COMMON HOME LEFT -------------- */
.mid{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: fit-content;
    margin: 20px auto;
    min-height: 100px;
    overflow: hidden;
}

.common-home-left{
    width: 55%;
    margin: 1% 1% 1% 1%;
    background-color: #3AAFA9;
    border-radius: 0px 100% 100% 0px;
    display: flex;
    justify-content:left;
    min-height: 100px;
    overflow: hidden;
}
.common-home-left-inner{
    border-radius: 10% 100% 100% 10%; 
    width: 70%;
    height: 70%; 
    background-color: #2B7A78; 
    margin: 18% auto;
    display: flex;
    justify-content:left;
    min-height: 100px;
    overflow: hidden;
}

.logo-text{
    width: 98%;
    height: 80%;
    background-color: transparent;
    margin: auto;
    transition: all 0.3s 0s ease;
}

.logo-text h1{
    font-size: calc(11vw + 5vmin);
    background-color: transparent;
    letter-spacing: 15px;
    font-family: Geneva, sans-serif;
    -webkit-text-stroke-width: calc(0.7vw + 0.3vmin);
    color: transparent;
    -webkit-text-stroke-color: #47d5ce;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

.logo-text:hover{
    text-shadow: 0 0 6px #3AAFA9, 0 0 13px #3AAFA9, 0 0 1px #3AAFA9, 0 0 17px #3AAFA9, 0 0 9px #0fa, 0 0 7px #0fa, 0 0 6px #0fa;
}

.logo-text h2{
    font-size: calc(2.2vw + 1vmin);
    letter-spacing: calc(1.8vw + 1.4vmin);
    font-weight: 950;
    background-color: transparent;
    display: flex;
    justify-content: center;
    color: #47d5ce;
    margin-top: -6%;
}

.about-it{
    background-color: transparent;
    border-top: 2px solid #47d5ce;
}

.about-it p{
    background-color: transparent;
    color:#47d5ce;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 1em; */
    font-size: calc(1vw + 0.4vmin);
}

/* ------------ COMMON HOME LEFT END ------------------- */

/* -------------- COMMON HOME RIGHT ----------------------- */
.common-home-right{
    width: 43%;
    border-radius: 40px;
    margin: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    overflow: hidden;
    padding: 3%;
}

.common-home-right form, input, button{
    background-color: transparent;
}

.common-home-right input, button{
    color: black;
}

.local {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 30px auto auto auto;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    min-height: 100px;
    overflow: hidden;
}

.local input{
    border: none;
    outline: none;
    width: 90%;
    height: 60px;
    border-bottom: 3px solid black;
    margin: 8% auto;
    background-color: rgba(222, 242, 241, 0.3);
    font-size: 1.2em;
}

.local h2{
    background-color: transparent;
    color: black;   
}

.local button{
    width: 70%;
    margin: auto;
    background-color: #44cfc8;
    color: black;
    border: 0.3px solid black;
    font-weight: 700;
}

.open{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 70%;
    min-height: 100px;
    overflow: hidden;
}

.open h3{
    color: black;
    margin: auto auto 10px auto;
    font-size: .9em;
    margin: 5% auto 5% auto;
}

.open form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.open form button{
    width: 75%;
    border-radius: 0px 4px 4px 0px;
    border: none;
    font-weight: 600;
    font-size: 1.05em;
}

.icon-button{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
}


#icons{
    background-color: transparent;
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}

/* ----------------- COMMON HOME END ------------------ */

/* ------------------ FEATURE SECTION ----------------- */

.main-feature-section{
    width: 99%;
    height: fit-content;
    background-color: #2B7A78;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.features{
    width: 70%;
    height: 30%;
    margin: 50px auto;
    padding: 30px;
    background-color: transparent;
    transition: all 0.2s 0s ease;
}

.features:hover{
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    font-size: 1.1em;
}

.feature-title{
    font-size: 1.9em;
    width: fit-content;
    margin: auto;
    background-color: transparent;
    font-weight: 700;
}

.feature-title:first-letter{
    color: #3AAFA9;
  }

.feature-content{
    background-color: transparent;
    text-align: center;
}

 li{
    background-color: transparent;
}

/* ------------------------------------------------------- */

.main{
    width: 99%;
    background-color: #2B7A78;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

/* --------- REMOVE QUESTION --------- */

.rem-ques div{
    margin: 7px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.rem-ques{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    width: 80%;
    font-size: calc(1vw + 1vh + 1vmin);
    min-width: 200px;
    overflow-x: scroll;
}

.rem-question button{
    font-size: calc(1vw + 1vh + 1vmin);
}

/* ---------- REMOVE QUESTION END ---------- */

/* ----------- ADD TOPICS --------------- */

.add-form{
    margin: 250px auto;
    width: 50%;
    height: 20%;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.add-form input{
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    width: 80%;
    height: 30%;
    color: black;
    outline: none;
    font-size: calc(1vw + 1vh + 0.5vmin);
    padding-left: 0.1%;
    font-weight: 700;
}
.add-form button{
    margin-top: 10px;
    width: calc(4vw + 2vh + 3vmin);
}

/* ----------- ADD TOPICS END ----------- */

/* ------- REMOVE TOPIC --------- */

.rem-topic-mid{
    width: 60%;
    margin: 10px auto;
    background-color: transparent;
}

.rem-topiclist{
    width: 80%;
    background-color: transparent    ;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}

.rem-topiclist div{
    margin: 5px;
    width: 50%;
    border-radius: 10px;
    height: calc(1vw + 3vh + 1vmin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rem-topiclist form{
    background-color: transparent;
}

/* ---------- REMOVE TOPIC END --------- */

/* --------- TOPICWISE LIST ------------- */

.main table{
    border-collapse: collapse;
    max-width: 80%;
    min-width: 600px;
    overflow: scroll;
    margin: 10px auto;
    color: black;
}

.main th{
    font-size: 1.3em;
    letter-spacing: 2px;
    height: 60px;
    color: #17252A;
}

.main th div{
    font-size: 1.3em;
    color: #17252A;
}

.main td{
    margin: auto;
    overflow-x: hidden;
    height: 40px;
    white-space: nowrap;
    text-align: center;
    color: #17252A;
    font-weight: 1000;
}

.main td div a{
    color: #17252A;
}

.main table th,td{
    border: 7px solid #2B7A78;
}

/* ----------- TOPICWISE LIST END ----------- */

.addquestion{
    border-radius: 10px;
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 40px auto;
    background-color: transparent;
}

.addquestion input{
    margin: 10px;
    width: 70%;
    height: calc(1vw + 1vh + 2vmin);
    margin: 3% auto;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    padding-left: 10px;
    font-size: calc(1vw + 1vh + 0.5vmin);
    outline: none;
}

::placeholder{
    padding-left: 10px;
    opacity: 70%;
}

.addquestion button{
    width: calc(4vw + 2vh + 3vmin);
    margin: 2% auto;
}

/* ------------ USER HOME PAGE------------ */


.userhome-mid{
    width: 70%;
    margin: 10px auto;
    font-size: calc(1vw + 1.1vmin);
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.left{
    width: 40%;
    background-color: transparent;
}

.right{
    width: 40%;
    background-color: transparent;
}


.potd{
    display: flex;
    border: 3px solid black;
    width: 30%;
    height: 20px;
    padding: 30px;
    margin: 60px auto; 
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.welcome-user{
    width: 90%;
    height: calc(4vw + 1vh + 3vmin);
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.greet{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1%;
    font-size: calc(2vw + 1vmin);
    background-color: transparent;
}

.welcome-user form{
    float: right;
}

.user-btns{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}

.user-btns form{
    background-color: transparent;
}

.user-btns button{
    font-size: calc(1vw + 0.7vmin);
}

.menu form{
    margin: 5px;
}

.topic-title{
    width: 80%;
    height: 7%;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.topic-title form{
    background-color: transparent;
}

.topic-manage{
    display: flex;
    background-color: transparent;
}

.topic-manage button{
    width: 20%;
    font-size: calc(10vw + 1.4vh + 1vmin);
}

.topic-title h2{
    font-size: calc(1vw + 1.4vh + 1vmin);
    background-color: transparent;
}

.topiclist{
    width: 60%;
    height: fit-content;
    background-color: transparent;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topiclist form,h3{
    background-color: transparent;
    width: 100%;
}

.topiclist button{
    height: calc(1vw + 1vw + 2vmin);
    margin: 10px;
    border: none;
    border-radius: 30px;
    color: #FEFFFF;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #3AAFA9;
    overflow: hidden;
    width: 100%;
}

/* ---------------USER HOME PAGE END--------------- */
.neonText {
    text-shadow: 0 0 6px #3AAFA9, 0 0 13px #3AAFA9, 0 0 1px #3AAFA9, 0 0 27px #3AAFA9, 0 0 18px #3AAFA9, 0 0 7px #3AAFA9, 0 0 6px #0fa;
}


/* ----------------------------- RESPONSIVE ------------------------------- */

@media only screen and (max-width: 1240px) {
    .mid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }
    .common-home-left{
        width: 50%;
        margin: 4%;
        background-color: transparent;
        border-radius: 0px;
        z-index: 0;
    }
    .common-home-left-inner{
        color: #2B7A78;
        border-radius: 0px;
        border: 2px groove #47d5ce;
    }
    .about-it p{
        text-align: center;
    }
    .common-home-right{
        width: 50%;
        margin: 4%;
    }
  }

  @media only screen and (max-width: 800px) {
    .mid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }
    .common-home-left{
        width: 80%;
    }
    .common-home-right{
        width: 80%;
    }
    .local input{
        height: 40px;
        font-size: 1.1em;
    }
    .rem-topic-mid{
        width: 100%;
    }
    .rem-topiclist{
        width: 80%;
    }
  }

  @media only screen and (max-width: 500px) {
    .mid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
    }
    .common-home-left{
        width: 90%;
    }
    .common-home-right{
        width: 90%;
    }
    .header h1{
        margin-right: 5px;
    }
    .local input{
        width: 90%;
        height: 40px;
        font-size: 1.1em;
    }
  }

  @media only screen and (max-width: 300px) {
    .mid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
    }
    .common-home-left{
        width: 90%;
    }
    .common-home-right{
        width: 90%;
    }
    .header h1{
        margin-right: 5px;
    }
    .local input{
        width: 90%;
        height: 40px;
        font-size: 1.1em;
    }
  }

/* ------------------------------------------------------------------------ */